<div class="author">
    <h1 class="author_header">Explore new possiblities</h1>
    <p class="author_body">Read and share your thoughts. Create your own blog. Its easy and free</p>
    <a href="/login">Start now</a>
</div>

<img src="/images/hero1.jpeg" alt="hero image" class="main-img" width="981" height="528">

<section class="articles">
    <h2 class="articles_head">Latest Posts</h2>
    <ul class="articles_ul">
        <% data.forEach(post => { %>
         
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
</section>